*.o
*.lo
*.la
*.in
.deps
.libs
config.h
config.log
config.status
configure
Makefile
stamp-h1
aclocal
ac/
autom4te.cache/
aclocal.m4
libtool
test/async_call
test/async_server
test/callback
test/error
test/notify
test/sync_call
test/udp
test/unix
